NODE_ENV=development
PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=store_rating_platform
JWT_SECRET=change-me-in-production
ADMIN_NAME=Primary System Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
